# ---------------------------------------------------------------------------- #
# - Files to ignore when `git commit`-ing.                                     #
# ---------------------------------------------------------------------------- #

# Files
.DS_Store

# Directories
